doctype html
html
    head
        title QR
        meta(charset = "utf-8")
        meta(http-equiv = "X-UA-Compatible", content = "IE = edge")
        meta(name = "viewport", content = "width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0")
        link(rel = "stylesheet", href = "./css/style.css")
        link(rel = "stylesheet", href = "./js/main.js")
    body(class="font-serif bg-gradient-to-r from-blue-500 via-purple-500  to-pink-500")